<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
    body
   {
     background-image:url(images/texture.png);
     background-repeat:no-repeat; 
     background-size: cover;
   }
   </style>
</head>

<body>
<div class="row">
<div class="container">
<h2 class="contact-title" style="padding-top:30px ">Post A Job</h2>
<br>

  <form>

  <div class="form-row">
   <div class="form-group col-md-6">
    <label for="company">Company Name</label>
      <input type="text" class="form-control" id="company">
    </div>
    <div class="form-group col-md-6">
      <label for="jobid"> Job ID</label>
      <input type="text" class="form-control" id="jobid" placeholder="In Format 'Dice Id:123456g' ">
    </div>
     </div>


  <div class="form-row">
   <div class="form-group col-md-6">
    <label for="advertiseurl">Advertisement Url</label>
      <input type="text" class="form-control" id="advertiseurl">
    </div>
    <div class="form-group col-md-6">
      <label for="joblocation_address">Job Location</label>
      <input type="text" class="form-control" id="joblocation_address">
    </div>
  
  </div>
  

  <div class="form-row">
   <div class="form-group col-md-6">
    <label for="jobtitle">Job Title</label>
      <input type="text" class="form-control" id="jobtitle">
    </div>
    <div class="form-group col-md-6">
      <label for="shift">Shift</label>
      <input type="text" class="form-control" id="shift">
    </div>
  </div>
  
  
     <div class="form-group">
    <label for="employmenttype_jobstatus">Job Status</label>
      <input type="text" class="form-control" id="employmenttype_jobstatus" placeholder="Full Time, Part time, etc...">
    </div>

    
    <div class="form-group">
    <label for="jobdescription">Job Description</label>
    <textarea class="form-control" id="jobdescription" rows="2"></textarea>
    </div>

    <div class="form-group">
    <label for="skills">Skills Required</label>
    <textarea class="form-control" id="skills" rows="2"></textarea>
    </div>

    <div class="form-group">
    <label for="postdate">Post Date: </label>
    <input type="date" id="postdate" name="postdate">
    </div>
     
   
   
  
  <button type="submit" class="btn btn-primary">Post Job</button>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>